body {
	background-image: url("img/gaming-pattern.png");
	font-family: 'Cabin', sans-serif;
	font-size: 17px;
	color: black;
}

#whiteBoxMainPhoto {
	position: absolute;
	background-color: white;
	width: 330px;
	height: 210px;
	left: 26.5%;
	top: 14%;
	margin-top: 240px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#container {
	width: 1000px;
	margin: 0 auto;
}

#mainPhotoDesc {
	font-size: 33px;
	margin-left: 15px;
}

#mainPhotoGreyDesc {
	color: #666;
	font-size: 17px;
	margin-top: 20px;
	margin-left: 15px;
}

#mainPhotoCategoryLink {
	margin-top: 70px;
	margin-left: 15px;
}

#mainPhotoCategoryLink a {
	text-decoartion: none;
	color: black;
}

#categoriesTilesHeader {
	text-align: center;
	margin-top: 50px;
}

#categoriesTilesTable {
	margin-top: 70px;
	margin-left:120px;
}

#categoriesTilesTable td {
	border-left: 3em solid transparent;
	border-top: 3em solid transparent;
}

#categoriesTilesTable td:first-child {
	border-left: 0;
}

#categoriesTilesTable tr:first-child td{
   border-top: 0;
}

